<!DOCTYPE html>
<html>

<head>
    <title>Edit-Profile</title>
</head>

<body>
    <div id='all'>
        <div class="login-box">
            <h2>PsychologyApp</h2>
            <form action="">
                <div class="user-box">
                    <input type="text" name="" required="">
                    <label>Username</label>
                </div>
                <div class="user-box">
                    <input type="text" name="" required="">
                    <label>Email</label>
                </div>
                <div class="user-box">
                    <input type="password" name="" required="">
                    <label>Bio</label>
                    <button type="button" style="color: white;" class="btn btn-outline-info">Add Image</button>
                </div>
                
                <a href="">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Edit Profile
                </a>
            </form>
        </div>
    </div>
</body>

</html>
