<div class="container">

    <h2>How are you feeling?</h2>
    <hr>
    <div class="panel panel-default">
        <div class="panel-body">
            <form>
                <div class="submit-form">
                    <div>
                        <div class="form-group">
                            <label for="user_post">Your feelings matter</label>
                            <input type="text" class="form-control" id="user_post" name="user_post"/>

                        </div>
                        <button class="btn btn-success">Submit</button>
                    </div>
                </div>
                <div>
                    <h4>You submitted successfully</h4>
                    <button class="btn btn-success">Add New</button>
                </div>
            </form>

            
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <app-comment-form></app-comment-form>
        </div>
    </div>
   
           
</div>