<!DOCTYPE html>
<html>

<head>
    <title>LogIn</title>
</head>

<body>
    <div class="login-box">
      <img style="width: 100px; height: 100px; border-radius: 100px;" src="https://cdn2.vectorstock.com/i/1000x1000/17/61/male-avatar-profile-picture-vector-10211761.jpg"><strong style="padding-left: 10px; font-size: 40px;">John Doe</strong><hr>
       
      <form action="">
            <div class="user-box">
                <h6>Certified Psychologist</h6>
            </div>
        </form>
        <hr>
        <h6>johndoe@gmail.com</h6>
    </div>
</body>

</html>