<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
</head>
<body>
  <div class="container">
    <div class="row">
       <div class="col-md-12">
          <div class="jumbotron">
            <!-- <img src="https://i.pinimg.com/474x/bb/0b/d0/bb0bd0e0477fadc41393c7f64571e321.jpg" alt="John" style="width:100%"> -->
             <strong style="font-size: 50px; padding-left: 30px;">John Doe</strong><hr>
             <p style="padding-left: 30px;">CEO & Founder, Harvard University</p>
             <span style="padding-left: 30px;">johndoe@gmail.com</span><br>
             
          </div>
       </div>
    </div>
 </div> 
  
</body>
</html>
